/* Estilo global */
body, html {
  height: 100%;
  margin: 0;
  background-color: #00385d;
  color: #fff;
}

/* Contenedor principal */
.agregar-materia-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #00385d;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Formulario */
.agregar-materia-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  color: #00385d;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

/* Etiquetas de los campos */
.materia-form-group label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Grupo de inputs */
.materia-form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Input general */
.materia-form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Sección de carreras */
.materia-carreras-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

/* Estilo del campo de carrera */
.carrera-field {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Botón para agregar una carrera */
.add-carrera-button {
  background-color: #006bb3;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.add-carrera-button:hover {
  background-color: #005b99;
}

/* Botón para eliminar una carrera */
.remove-carrera-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.remove-carrera-button:hover {
  background-color: #e60000;
}

/* Botón del formulario */
.materia-form-button {
  background-color: #006bb3;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.materia-form-button:hover {
  background-color: #005b99;
}

/* Responsividad para pantallas pequeñas */
@media screen and (max-width: 480px) {
  .materia-form-input {
    flex: 1 1 100%;
  }

  .materia-form-button {
    width: 100%;
    padding: 15px 0;
  }

  .agregar-materia-form {
    padding: 15px;
  }
}