.gestionar-grupos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #00385d;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.gestionar-grupos-title {
  margin-bottom: 20px;
  font-size: 2rem;
}

.gestionar-grupos-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.menu-button, .back-button, .gestionar-grupos-form button {
  background-color: #006bb3;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.menu-button:hover, .back-button:hover, .gestionar-grupos-form button:hover {
  background-color: #005b99;
}

.gestionar-grupos-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  max-width: 800px;
  margin: auto;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  color: #00385d;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.gestionar-grupos-form .form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gestionar-grupos-form input,
.gestionar-grupos-form select {
  flex: 1 1 calc(50% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #00385d;
}

/* Estilo para la información del grupo */
.grupo-info, .grupos-list {
  background-color: #00385d; /* Fondo azul oscuro */
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 400px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.grupo-info h4, .grupos-list h4 {
  margin-bottom: 8px;
  text-align: center;
  color: #ffffff; /* Asegura que el título sea visible */
}

.grupo-info p, .list-group-item {
  margin: 4px 0;
}

.alumnos-table-container {
  margin-top: 20px;
  width: 100%;
}

.alumnos-table {
  border: 1px solid #2d2d2d;
  border-radius: 10px;
  overflow: hidden;
  background-color: #00385d;
  color: #fff;
  width: auto;
  max-width: 100%;
}

.alumnos-table th,
.alumnos-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #2d2d2d;
  text-align: center;
}

.alumnos-table th {
  background-color: #00385d;
}

.alumnos-table tbody tr:nth-child(even) {
  background-color: #1a1a1a;
}

.alumnos-table tbody tr:nth-child(odd) {
  background-color: #2a2a2a;
}

.alumnos-table tbody tr:hover {
  background-color: #1A91DA;
}

.table-heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-group-item {
  background-color: #004b72; /* Restablecido al azul original */
  color: #ffffff;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.list-group-item:hover {
  background-color: #005b99;
}
