.ingles-management-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #00385d;  /* Fondo azul oscuro */
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .ingles-management-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #00385d;
  }
  
  .ingles-management-container h2 {
    margin-bottom: 20px;
    color: #fff; /* Blanco para que contraste bien con el fondo */
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .form-group label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .form-group button {
    background-color: #006bb3;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-group button:hover {
    background-color: #005b99;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .message {
    color: #ff3333;
    margin-top: 20px;
  }
  