body, html {
  height: 100%;
  margin: 0;
  background-color: #00385d;
  overflow-y: auto; /* Asegurar que el body permita scroll */
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Permitir que el contenedor crezca si es necesario */
  background-color: #00385d;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
  overflow-y: auto; /* Permitir scroll si el contenido es mayor que el contenedor */
}

.login-logo {
  width: 80%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  object-fit: contain;
}

.login-container h1 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.8rem;
}

.login-container button {
  background-color: #fff;
  color: #00385d;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.login-container button:hover {
  background-color: #f0f0f0;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

.form-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.form-button {
  margin-bottom: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Media queries para ajustar landscape (horizontal) */
@media screen and (orientation: landscape) {
  .login-container {
    min-height: auto; /* Eliminar restricción de altura */
    height: auto; /* Permitir altura automática */
  }

  /* Asegurar que el logo se ajuste bien en landscape */
  .login-logo {
    max-width: 200px; /* Reducir un poco el tamaño máximo del logo */
  }
}