/* Archivo: src/styles/navBarStyles.css */

/* Estilos generales para el Navbar */
.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background-color: #343a40;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  max-height: 40px;
  margin-right: 10px;
}

/* Botón "Pagar" */
.pagar-button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagar-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Estilos para el dropdown del menú */
.submenu-right .dropdown-toggle::after {
  content: none;
}

.submenu-right .dropdown-menu {
  left: 100% !important;
  top: 0 !important;
  margin-top: 0 !important;
}

.alumnos-dropdown,
.administrativos-dropdown,
.docentes-dropdown,
.materias-dropdown {
  color: #000 !important;
}

.submenu-right .dropdown-menu a {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  font-weight: 400;
  color: #212529;
  background-color: transparent;
  text-align: left;
  font-size: 1rem;
  border: 0;
}

.submenu-right .dropdown-menu a:hover {
  color: #fff;
  background-color: #007bff;
}

/* Responsividad para el navbar */
@media (max-width: 768px) {
  .custom-navbar {
    padding: 0.5rem 1rem;
  }

  .navbar .nav-link {
    font-size: 1rem;
  }

  .submenu-right .dropdown-menu a {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .custom-navbar {
    padding: 0.25rem 0.5rem;
  }

  .navbar .nav-link {
    font-size: 1rem;
  }

  .submenu-right .dropdown-menu a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: left;
  }

  .nav-logo {
    max-height: 30px;
  }
}
