/* Estilo base */
body, html {
  height: 100%;
  margin: 0;
  background-color: #00385d;
  overflow-y: auto;
}

.registro-alumno-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #00385d;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.registro-alumno-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  color: #00385d;
  box-sizing: border-box;
}

.registro-alumno-form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.registro-alumno-form-group input,
.registro-alumno-form-group textarea,
.registro-alumno-form-group select {
  flex: 1 1 calc(33.333% - 20px); /* 3 elementos por fila en pantallas grandes */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%; /* Asegurar que el campo ocupe todo el ancho disponible */
}

.registro-alumno-checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.registro-alumno-add-button-container {
  flex: 1 1 100%;
  text-align: right;
}

.registro-alumno-add-button {
  background-color: #006bb3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.registro-alumno-add-button:hover {
  background-color: #005b99;
}

.registro-alumno-form-button {
  background-color: #006bb3;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.registro-alumno-form-button:hover {
  background-color: #005b99;
}

.registro-alumno-message {
  color: #ff3333;
  margin-top: 20px;
}

/* Media queries para pantallas medianas (tablets) */
@media screen and (max-width: 768px) {
  .registro-alumno-form-group input,
  .registro-alumno-form-group textarea,
  .registro-alumno-form-group select {
    flex: 1 1 calc(50% - 20px); /* 2 elementos por fila en pantallas medianas */
  }
}

/* Media queries para pantallas pequeñas (móviles) */
@media screen and (max-width: 480px) {
  .registro-alumno-form-group input,
  .registro-alumno-form-group textarea,
  .registro-alumno-form-group select {
    flex: 1 1 100%; /* 1 elemento por fila en pantallas pequeñas */
  }

  .registro-alumno-add-button-container {
    text-align: left; /* Alinear botones a la izquierda en pantallas pequeñas */
  }

  .registro-alumno-form-button {
    width: 100%; /* Asegurar que el botón de submit ocupe todo el ancho en móviles */
  }
}
