.reinscribir-alumno-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #00385d;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.reinscribir-heading {
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
}

.reinscribir-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #00385d;
}

.reinscribir-form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    position: relative;
}

.reinscribir-form-group label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.reinscribir-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reinscribir-button {
    background-color: #006bb3;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.reinscribir-button:hover {
    background-color: #005b99;
}